<div class="container hhead" style="background-color: rgb(68, 34, 100);">
    <div class="row">
        <div class="col-lg-12">
            <p>ТЕРМИНАЛ ОПЛАТЫ МОБИЛЬНОЙ СВЯЗИ</p>
        </div>
    </div>
</div>
<style>
    
   .hhead{
       position:relative;
       overflow: hidden;
       transition:all ease 0.5s;
       margin-top: -40px;;
   }
    p{
    color:white;
    text-align: center;
}
</style>