<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminal</title>
</head>
<style>
    p{
        color:red;
    }
</style>
<body>
    <p>ERROR</p>
        <a href="/">На главную</a>
    
</body>
</html>